.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
_multiconfig.yml
shokaxTemp/

node_modules/
public/
.deploy*/
.DS_Store
Thumbs.db
*.log
db.json
*.lock
*.tmp
*.bak
*.pid
*.seed
*.pid.lock
lightning-minify/